@import "root.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    font-family: Inter, sans-serif !important;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.btn {
    &.btn-primary {
        @include button($color-primary, $color-primary, $color-white);
        
        &:hover {
            background-color: $color-btn-primary-hover;
            border-color: $color-btn-primary-hover;
        }
        
        &:focus, :active {
            background-color: $color-btn-primary-focus;
            border-color: $color-btn-primary-focus;
        }
    }
    
    &.btn-secondary {
        @include button($color-light, rgba(26, 115, 232, 0.2), $color-gray);
        
        &:hover {
            background-color: $color-btn-secondary-hover;
        }
        
        &:focus, :active {
            background-color: $color-btn-secondary-focus;
        }
    }
    
    &.btn-empty {
        border: none;
        color: $color-primary;
    
        &:hover, &:focus, &:active {
            color: $color-btn-primary-hover;
        }
    }
    
    &:focus, &:active {
        box-shadow: none !important;
        outline: none !important;
    }
}

.container {
    padding: 0 15px;
}

.flex {
    @include flex;
}

.bg-light {
    background-color: $color-light !important;
}

.bg-banner {
    background-image: url(../images/design/banner-02.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25%;
}

lord-icon {
    height: auto;
    width: 50px;
    margin-left: 2px;
}

.meters-data-item {
    border: 1px solid $color-primary;
    background-color: $color-light;
    color: $color-primary;
    border-radius: .75rem;
    align-items: center;
    padding: 15px 20px;
    
    svg {
        font-size: 24px;
        margin-right: 14px;
        margin-bottom: 0;
    }
    
    p {
        line-height: normal;
        margin-bottom: 0;
    }
}

.pay-content {
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    box-shadow: 0 0 60px -8px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
}

.pay-body {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background: $color-light;
    color: $color-secondary;
    padding: 45px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    ul {
        padding-left: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
}

.pay-info {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background: rgba($color-primary, .9);
    color: $color-white;
    padding: 45px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px){
    .pay-content {
        grid-template-columns: 1fr;
    }
    
    .pay-body {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        border-bottom-left-radius: 0;
    }
    
    .pay-info {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        border-top-right-radius: 0;
    }
}

.meters-data-content {
    display: flex;
    align-items: center;
    
    .meters-data-text {
        p {
            text-align: start;
        }
    }
}

.meters-data-text {
    p {
        text-align: center;
    
        &.title {
            font-weight: bold;
        }
    
        &.description {
            font-weight: 300;
        }
    }
}

.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus {
    border-color: rgba($color-primary, 0.4);
    background-color: $color-light;
    color: $color-secondary;
    box-shadow: none;
}

::placeholder {
    color: $color-secondary !important;
    font-weight: 300;
}