@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Inter, sans-serif;
}

a
{
    text-decoration: none;
    color: #212529;
    background-color: transparent;
}
a:hover
{
    text-decoration: none;

    color: #525f7f;
}

a:not([href])
{
    text-decoration: none;

    color: inherit;
}
a:not([href]):hover
{
    text-decoration: none;

    color: inherit;
}

p
{
    margin: 0;
}



.navbar-brand {
    cursor: pointer;
    background: none;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d1f;
    margin-right: 0;
}

.navbar-brand img {
    height: 38px!important;
    width: 38px!important;
}

.navbar-brand h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0!important;
    cursor: pointer!important;
}

.navbar-brand span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 12px;
    font-weight: normal;
    cursor: pointer!important;
}

.nav-item {
    padding: 0 5px;
}

.nav-link span {
    cursor: pointer!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
    padding: 8px 14px!important;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    font-family: Inter, sans-serif;
}

.nav-item {
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    .nav-item {
        margin-bottom: 10px!important;
    }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #186ef0;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link .title {
    padding-left: 8px;
}

.navbar {
    border-bottom: 1px solid #eceef1;
}

.button-secondary {
    background-color: #ebedf0;
    color: #79797a!important;
    border: 1px solid #ebedf0;
}

.button-secondary:active,
.button-secondary:focus {
    background-color: #d7d9db;
    box-shadow: 0 0 0 0.2rem rgba(215 217 219 0.5) !important;
}

.button-white {
    background-color: #fff;
    color: #79797a!important;
    border: 1px solid #fff;
}

.button-secondary:active,
.button-secondary:focus {
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0.2rem rgba(215, 217, 219, 0.5) !important;
}

.btn.btn-primary {
    border: 1px solid #186ef0;
    background-color: #186ef0;
    color: #fff;
}

.btn.btn-primary:active {
    background-color: #1357bd;
    border-color: #1357bd;
    color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus{
    background-color: #1562d6;
    border-color: #1562d6;
    color: #fff;
}

.btn-navbar,
.btn-navbar-color {
    border: 1px solid #186ef0;
    background-color: #fff;
    color: #186ef0;
    padding: 9px 19px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: .02rem;
    font-size: 14px;
    line-height: 24px;
}

.btn-navbar-color {
    border-color: #186ef0;
    background-color: #186ef0;
    color: #fff;
}

.btn-navbar-color:active {
    background-color: #1357bd;
    border-color: #1357bd;
    color: #fff;
}

.btn-navbar-color:hover {
    background-color: #1562d6;
    border-color: #1562d6;
    color: #fff;
}

.btn-close:focus {
    box-shadow: none;
}

.profile-text {
    color: #1e1e1f;
}

.profile-text h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
}

.profile-text p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.profile a.button {
    background: #186ef0;
    color: #fff!important;
    border: none;
}

.header {
    background: url('https://mc-cloudy.com/public/novacom-lite/onlinepayment.png') no-repeat center;
    background-size: cover;
    height: 270px;
}

.container-padding {
    padding: 50px 0;
}

.header-title {
    margin-bottom: 10px;
    text-align: center;
}

.header-title h1 {
    font-weight: 600;
    font-size: 30px;
    color: #1e1e1f;
    margin-bottom: 0;
}

.header-title p {
    font-weight: 400;
    font-size: 18px;
    color: #79797a;
}

.container-start .icon {
    display: flex;
    height: 65px!important;
    min-height: 65px!important;
    width: 65px!important;
    min-width: 65px!important;
    border-radius: 50%;
    background-color: #186ef0;
    margin-right: 24px;
    font-size: 1.7em;
    color: #fff!important;
}

.container-start .block-text p {
    line-height: 18px;
}

.container-start .block-text h4 span {
    background-color: #EBEDF0;
    color: #1e1e1f;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 8px;
}

.container-start .block-text span {
    color: #186ef0;
}

.container-start .item {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-text {
    color: #1e1e1f;
}

.block-text h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 16px;
}

.block-text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 3px;
}

.block-text p {
    max-width: 516px;
    overflow: hidden;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.block-text p:last-child {
    margin-bottom: 0;
}

.block-text a {
    color: #186ef0;
}

.block-text a:hover,
.block-text a:focus {
    color: #1357bd;
}

.landing-block img {
    /*width: 516px;*/
    height: auto;
}

.banner {
    padding: 21px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d7d9db;
    border-radius: 8px;
}

.banner-color {
    background-color: #186ef0;
    border-color: #186ef0;
}

.banner-margin {
    margin-top: 40px;
}

.banner .icon {
    display: flex;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 22px;
    color: #186EF0;
    font-size: 1.6em;
}

.banner .icon {
    margin-right: 22px;
    margin-bottom: 0;
}

.banner .banner-text {
    align-items: center;
}

.banner .banner-text .banner-text-header {
    margin-bottom: 0;
    color: #1e1e1f;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.1px;
    font-weight: 600;
    font-family: Inter, sans-serif;
}

.banner .banner-text .banner-text-info {
    color: #1e1e1f;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -.1px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

.banner.banner-color .banner-text p {
    color: #fff!important;
}

.banner .banner-buttons {
    display: flex;
    margin-left: auto;
}

.banner .button:first-child {
    margin-left: 0;
}

.banner .button {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 8px;
}

.banner .banner-buttons .banner-button {
    padding: 9px 19px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: .02rem;
    font-size: 14px;
    line-height: 24px;
}

.banner.banner-color .banner-buttons .banner-button {
    color: #212529!important;
}

.banner.banner-color .banner-buttons .banner-button:hover,
.banner.banner-color .banner-buttons .banner-button:focus {
    color: #1562d6!important;
    background: #ebedf0;
}

.navbar .btn:focus {
    box-shadow: none!important;
}

.profile-block {
    background: #186ef0;
    min-width: 40px!important;
    max-width: 40px!important;
    min-height: 40px!important;
    max-height: 40px!important;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text:hover h4,
.profile-text:focus h4 {
    color: #186ef0;
    transition: all .3s;
}

.profile-block {
    display: none;
}

.info-banner {
    background: linear-gradient(240deg, hsla(0, 0%, 100%, .1), transparent 25%, hsla(0, 0%, 100%, .1) 0, transparent 50%, hsla(0, 0%, 100%, .1) 0, transparent 75%, hsla(0, 0%, 100%, .1) 0, transparent), #186ef0 linear-gradient(90deg, #1562d6, #186ef0 85%) !important;
}

.landing-block {
    padding: 25px 0;
}

.landing-block .landing-wrapper {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-block .landing-wrapper .block-text h2 {
    margin-bottom: 10px;
}

.landing-block .landing-wrapper .block-text.block-server h2 {
    margin-bottom: 0;
}

.landing-block .landing-wrapper .block-text span {
    margin-left: 10px;
    display: inline-block;
}

.landing-block .landing-wrapper .block-text.block-server span {
    font-size: 22px;
    font-weight: 400;
    color: #79797a;
    margin-right: 10px;
}

.landing-block .landing-wrapper .block-text.block-server h3 {
    font-size: 15px;
    font-weight: 400;
    color: #79797a;
    margin-bottom: 16px;
}

.landing-block .landing-wrapper .block-text .icon {
    color: #186ef0;
    font-size: 20px;
}

.landing-block .landing-wrapper .block-text a {
    font-size: 16px;
}

.landing-block .landing-wrapper .block-text a .icon-margin-left {
    margin-left: 8px;
}

.landing-block-bt {
    border-top: 1px solid #ebedf0;
}

.landing-block-bb {
    border-bottom: 1px solid #ebedf0;
}

.landing-block .image-link {
    cursor: pointer;
    width: 516px;
    height: auto;
}

.landing-wrapper {
    margin: auto;
}

footer {
    border-top: 1px solid #ebedf0;
    background-color: #f5f5f7;
    padding: 20px 0;
}

footer h5 {
    margin-bottom: 2px;
}

footer h5 a {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1d1d1f!important;
}

footer a .icon-margin-left {
    margin-left: 8px;
}

footer p {
    font-size: 14px;
    color: #6e6e73;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

footer a {
    font-size: 14px;
    color: #6e6e73;
    font-weight: 400;
}

footer a:hover,
footer a:focus,
footer ul li a:hover,
footer ul li a:focus {
    color: #616165;
}

footer h5 a {
    font-size: 16px;
    line-height: 16px;
}

footer p {
    font-size: 14px;
    line-height: 16px;
}

.feature {
    display: block;
}

.feature-item {
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ebedf0;
    background-color: rgba(24,110,240,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5px 10px;
    min-height: 160px;
    border-radius: 14px;
}

.feature-image {
    height: 99px;
    width: 99px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-item img {
    height: 55px;
    max-width: 55px;
    display: block;
    align-items: center;
    justify-content: center;
}

.feature-item:hover .feature-image {
    background-color: rgba(24,110,240,0.2);
    transition: all .5s;
}
.feature-item:hover img {
    transform: scale(1.1);
    transition: all .5s;
}

.feature-item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
}

.container-lightgray {
    background: #f5f5f7;
}

.icon-margin-left {
    margin-left: 8px;
}

.icon-margin-right {
    margin-right: 8px;
}

.navbar-toggler {
    border: 0!important;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

@media only screen and (max-width: 1200px) {
    .header-title h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .header-title p {
        font-size: 16px;
        line-height: 16px;
    }

    .block-text p {
        font-size: 16px;
        line-height: 18px;
        max-width: none;
    }

    .block-text h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .container-start-game .icon {
        display: none;
    }

    .container-start-game .block-text h4 {
        font-size: 16px;
        line-height: 16px;
    }

    .container-start-game .block-text p {
        font-size: 16px;
        line-height: 16px;
    }

    .container-start-game .block-text span {
        font-size: 12px;
    }

    .banner .icon {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .landing-block .landing-wrapper .block-text .icon,
    .landing-block .landing-wrapper .block-text a {
        font-size: 16px;
        line-height: 16px;
    }

    .landing-block img {
        margin-top: 40px;
    }

    .landing-block img.server {
        margin: 25px 0;
    }

    .landing-block .landing-wrapper {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .landing-block-bb,
    .landing-block-bt {
        border: none;
    }

    .container-team .block-text h4 {
        font-size: 16px;
        line-height: 16px;
    }

    .container-team .block-text p {
        font-size: 14px;
        line-height: 14px;
    }

    footer h5 a {
        font-size: 14px;
        line-height: 14px;
    }

    footer p {
        font-size: 11px;
        line-height: 13px;
    }

    .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }

    .container-team .icon {
        height: 65px;
        width: 65px;
    }

    .container-start-game .block-text h4 {
        margin-bottom: 6px;
    }

    .container-team .block-text {
        text-align: left;
        margin-top: 0;
    }

    .landing-block .landing-wrapper .block-text.block-server h2 {
        font-size: 18px;
        line-height: 18px;
    }

    .landing-block .landing-wrapper .block-text.block-server span,
    .block-server span.icon {
        font-size: 16px!important;
        line-height: 16px!important;
    }

    .landing-block .landing-wrapper .block-text.block-server h2 {
        margin-bottom: 10px;
    }

    .block-server span.icon {
        margin-left: 8px!important;
    }

    .block-server span.icon:last-child {
        margin-left: 6px!important;
    }

    .btn.btn-navbar-color {
        display: flex;
        justify-content: center;
        margin: 10px 0 5px 0;
    }

    .nav-item {
        margin-bottom: 5px;
    }

    .block-text.support h2 {
        font-size: 18px;
    }

    .form-mobile {
        margin-top: -80px;
    }

    .header-title-margin {
        margin-top: 0;
    }

    .header-banner {
        padding: 25px 0;
        margin-bottom: 25px;
        background: linear-gradient(240deg, hsla(0, 0%, 100%, .1), transparent 25%, hsla(0, 0%, 100%, .1) 0, transparent 50%, hsla(0, 0%, 100%, .1) 0, transparent 75%, hsla(0, 0%, 100%, .1) 0, transparent), #186ef0 linear-gradient(90deg, #1562d6, #186ef0 85%);
    }

    .banner {
        flex-flow: column;
    }

    .banner .icon {
        margin-bottom: 12px;
        margin-right: 0;
    }

    .banner .banner-text {
        text-align: center;
        margin-bottom: 22px;
    }

    .banner .banner-buttons {
        margin: 0 auto;
    }

    .banner .banner-text .banner-text-header {
        line-height: 14px;
    }

    .banner .banner-text .banner-text-info {
        line-height: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        padding: 10px 15px 10px 0;
    }

    .navbar-nav {
        border-top: 1px solid #ebedf0;
    }
    .nav-item.top {
        margin-top: 10px;
    }

    .banner.banner-color {
        border-radius: 0!important;
    }

    .banner .banner-buttons .banner-button {
        padding: 9px 14px;
    }

    .card-header h2,
    .card-header h2 .btn {
        font-size: 15px!important;
        line-height: 15px!important;
        font-weight: 600!important;
        color: #1e1e1f!important;
        text-align: left;
    }

    .card-body {
        color: #79797a;
        font-size: 14px;
        font-weight: 400!important;
        line-height: 18px;
    }

    .card-header {
        padding: .7rem 1rem;
    }

    .card-body {
        padding: 1rem;
    }

    .btn.btn-navbar-color.btn-form {
        padding: 9px 14px;
    }

    .profile {
        padding-top: 10px;
        background: none;
        border-radius: 6px;
        border-top: 1px solid #ebedf0;
    }

    .profile-block {
        display: flex;
        background: rgba(0,0,0,.9);
        color: white;
    }

    .profile a.btn {
        margin-left: auto!important;
    }

    .container-start {
        display: inline!important;
    }

    .container-start .icon {
        margin-bottom: auto;
        min-width: 50px!important;
        max-width: 50px!important;
        min-height: 50px!important;
        max-height: 50px!important;
        border-radius: 25% !important;
        margin-right: 14px;
    }

    .container-start .block-text h4 span {
        display: none;
    }

    .header {
        height: 170px;
    }

    .banner.banner-color .banner-text .banner-text-header {
        line-height: 18px;
        margin-bottom: 6px;
    }

    .banner.banner-color .banner-text .banner-text-info {
        line-height: 18px;
        font-size: 14px;
    }

    .banner .icon {
        min-width: 60px;
        min-height: 60px;
        margin-bottom: 14px;
    }

    .landing-block img {
        margin-top: 25px;
    }

    .feature-item {
        padding: 0 10px;
    }

    .landing-block {
        padding: 40px 0 0 0;
    }

    .container-padding {
        padding: 40px 0;
    }

    .banner-margin {
        margin-top: 15px;
    }

    .container-start .item {
        padding: 0 10px 0 20px;
    }

    footer h5 a {
        font-size: 16px;
        line-height: 14px;
    }

    footer p {
        font-size: 13px;
        line-height: 13px;
    }

    .nav-link {
        background: #f5f5f7;
        border-radius: 6px;
        justify-content: center;
    }

    .nav-link span.icon {
        display: none;
    }
}