/.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.env

/docker/grafana/grafana.db
/docker/grafana/alerting/1/
/docker/nginx/logs/
/docker/grafana/csv/
/docker/grafana/plugins/
/docker/grafana/png/
/docker/grafana/storage/
